.popup__input {
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  width: 100%;
  margin-bottom: 30px;
  outline-color: cornflowerblue;
  font-weight: 1;
  font-size: 14px;
  line-height: 17px;
}